.news{
    margin-top: 85px;
}
.page{
    margin-left: 15px;

    display: block;
}
#heading{
    text-align: center;
    text-decoration: underline;
    margin-top: 2rem;
}
.page #loading{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1.5rem;
}
